<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="prova.biscoitodasorte">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/gingerbread"
        android:label="@string/app_name"
        android:roundIcon="@drawable/gingerbread"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MensagemActivity">
        </activity>


        <service android:name=".BiscoitoService">

        </service>

        <receiver
            android:name=".ServiceInitialize"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".NotificationTrigger">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="BISCOITO_HELPER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>